[submodule "midihub-docs"]
	path = midihub-docs
	url = https://github.com/BlokasLabs/midihub-docs.git
[submodule "pimidipy"]
	path = pimidipy
	url = https://github.com/BlokasLabs/pimidipy
[submodule "patchbox-modules"]
	path = patchbox-modules
	url = https://github.com/BlokasLabs/patchbox-modules.git
[submodule "patchbox-os"]
	path = patchbox-os
	url = https://github.com/BlokasLabs/patchbox-os-gen.git
